body{
	margin: 0;
	padding: 0;
	background: url(images/cottagecore.JPG);
	background-size: cover;
	background-attachment: fixed;
	background-position: center center;
	background-repeat: no-repeat;
	background-color: #59784E;
}

* {
	font-family: 'Roboto', sans-serif;
	font-family: 'Zilla Slab', serif;
	box-sizing: border-box;
}

a:visited{
	color: green;
}

a:link{
	color: limegreen;
}

a:active{
	color: burlywood;
}

a:hover{
	color: white;
}

html, body{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

.header {
	position: fixed;
	top: 0;
	padding: 4px;
	width: 100%;
	background: #78966E;
	color: #f1f1f1;
	display: flex;
	justify-content: space-evenly;
}

.buttons{
	display: flex;
	justify-content: space-evenly;
}

.buttons button{
	background-color: #78966E;
	color: white;
	border: none;
	float: left;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	font-size: 17px;
	width: 100%;
}

.buttons button:hover {
	background-color: #59784E;
}

.buttons a:link{
	color: limegreen;
}

.buttons a:active{
	color: burlywood;
}

.buttons a:visited{
	color: white;
}

.socmedlinks {
	margin-top: 10px;
}

.slideshow {
	margin-top: 55px;
}

.tablink {
	background-color: #59784E;
	color: white;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	font-size: 17px;
	width: 25%;
}

.tablink:hover {
	background-color: #83AB75;
}

/* Style the tab content */
.tabcontent {
	color: white;
	display: none;
	padding: 30px;
	text-align: center;
	max-width: 100%;
	max-height: 110%;
}

#inter {background-color: #78966E;}
#Cheat {background-color:#8C3838;}
#Elf {background-color:#537D8D;}
#Shield {background-color:#A0B2A6;}

.int{
	max-width: 100%;
}